body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0; }
  body .grid {
    display: grid;
    grid-template-areas: "a a a a a a a a a a a a" "b b b b b b b b b b b b"; }
    body .grid .grid-header {
      grid-area: a;
      background: url("../img/Background_body.jpg") no-repeat;
      background-size: 100%;
      align-items: center;
      font-size: 18px;
      height: 100vh;
      justify-content: center;
      overflow: hidden;
      perspective: 100px;
      position: relative;
      text-align: center;
      transform-style: preserve-3d;
      /* Animations */ }
      body .grid .grid-header:after {
        background: rgba(6, 6, 6, 0.49);
        content: "";
        height: 40rem;
        left: -5%;
        position: absolute;
        right: -5%;
        top: 90%;
        transform-origin: 0 0;
        transform: rotateZ(-4deg); }
      body .grid .grid-header:before {
        animation: fade-slide-down 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url("../img/Background_body.jpg") no-repeat bottom;
        background-size: cover;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1; }
      body .grid .grid-header .grid-nav {
        padding: 20px;
        opacity: 0.9;
        font-style: inherit; }
        body .grid .grid-header .grid-nav ul {
          text-align: center; }
          body .grid .grid-header .grid-nav ul li {
            list-style-type: none;
            display: inline-block;
            margin-left: 15px;
            /**a {
              color: black;
              background-color: #aaaaaa;
              padding: 15px;
              text-decoration: none;
              display: inline-block;
              vertical-align: middle;
              transform: translateZ(0);
              box-shadow: 0 0 1px rgba(0, 0, 0, 0);
              backface-visibility: hidden;
              -moz-osx-font-smoothing: grayscale;
              transition-duration: 0.3s;
              transition-property: transform;
              &:hover,
              &:focus,
              &:active {
                transform: scale(1.1);
              }
            }**/ }
            body .grid .grid-header .grid-nav ul li a {
              text-decoration: none;
              color: floralwhite; }
      body .grid .grid-header .grid-hello {
        color: white;
        text-align: center; }
        body .grid .grid-header .grid-hello .photo img {
          border-radius: 125px;
          width: 180px;
          height: 180px;
          opacity: 0.6; }
          body .grid .grid-header .grid-hello .photo img:hover, body .grid .grid-header .grid-hello .photo img:focus {
            opacity: 1;
            -webkit-transition: opacity 2s;
            transition: opacity 2s; }
      body .grid .grid-header .grid-hello-text {
        display: inline-block;
        color: floralwhite;
        text-align: center;
        /**padding-right: 200px;
        padding-left: 200px;*/ }
        body .grid .grid-header .grid-hello-text h2 {
          font-weight: 100; }
          body .grid .grid-header .grid-hello-text h2 span {
            font-weight: 400; }
        body .grid .grid-header .grid-hello-text h3 {
          font-weight: 100; }
          body .grid .grid-header .grid-hello-text h3 span {
            font-weight: 500; }
      body .grid .grid-header .button1 {
        text-align: center; }
        body .grid .grid-header .button1 .button {
          perspective: 1000px;
          display: inline-block;
          width: 10em;
          margin-right: 10em;
          margin-top: 1em;
          /**perspective: 1000px;

          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -10em;
          margin-top: 8em;**/ }
          body .grid .grid-header .button1 .button .cube {
            color: #ccc;
            cursor: pointer;
            font-family: 'Roboto', sans-serif;
            transition: all 0.85s cubic-bezier(0.17, 0.67, 0.14, 0.93);
            transform-style: preserve-3d;
            transform-origin: 100% 50%;
            width: 10em;
            height: 4em; }
            body .grid .grid-header .button1 .button .cube:hover {
              transform: rotateX(-90deg); }
          body .grid .grid-header .button1 .button .side {
            box-sizing: border-box;
            position: absolute;
            display: inline-block;
            height: 4em;
            width: 10em;
            text-align: center;
            text-transform: uppercase;
            padding-top: 1.5em; }
          body .grid .grid-header .button1 .button .top {
            background: #fff;
            color: #222229;
            transform: rotateX(90deg) translate3d(0, 0, 2em); }
            body .grid .grid-header .button1 .button .top a {
              text-decoration: none;
              color: #222229; }
          body .grid .grid-header .button1 .button .front {
            background: #222229;
            color: #fff;
            box-shadow: inset 0 0 0 5px #fff;
            transform: translate3d(0, 0, 2em); }
@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-4rem); }
  100% {
    opacity: 1;
    transform: none; } }

/*# sourceMappingURL=style.css.map */
