body {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  background: url("../img/Background_body.png")no-repeat;
  background-size: 100%;

  .grid {
    display: grid;
    grid-template-areas: "a a a a a a a a a a a a"
                         "b b b b b b b b b b b b"
                         "c c c c c c c c c c c c";
  }


  .grid-nav {
    grid-area: a;
    padding: 20px;
    opacity: 0.6;
    font-style: inherit;
    ul {
      text-align: center;
      li {
        list-style-type: none;
        display: inline-block;
        margin-left: 15px;
        a {
          color: floralwhite;
          background-color: #aaaaaa;
          padding: 15px;
          text-decoration: none;
          display: inline-block;
          vertical-align: middle;
          transform: translateZ(0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          backface-visibility: hidden;
          -moz-osx-font-smoothing: grayscale;
          transition-duration: 0.3s;
          transition-property: transform;
          &:hover,
          &:focus,
          &:active {
            transform: scale(1.1);
          }
        }
      }
    }
  }
  .grid-hello{
    justify-self: center;
    grid-area: b;
    color: white;
      .photo {

        float: left;

        img {
          border-radius: 125px;
          width: 180px;
          height: 180px;
          opacity: 0.6;
          &:hover,
          &:focus {
          opacity: 1;
            -webkit-transition: opacity 2s;
            transition: opacity 2s;
          }
        }
      }
  }
  .grid-hello-text {
    justify-self: center;
    text-align: center;
    width: 750px;
    grid-area: c;
    color: floralwhite;
    h2 {
      font-weight: 200;
      span {
        font-weight: 400;
      }
    }
    h3 {
      font-weight: 100;
      span {
        font-weight: 500;
      }
    }
  }
}


